<!DOCTYPE html>


<html>
    <head>
        <meta charset="UTF-8" />
        <title>Geelweb Django Sandbox</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div id="wrap">
        <div class="jumbotron">
            <div class="container">
                <h1>Twitter Bootstrap Form</h1>

<p></p>
<a class="btn btn-primary"
    href="https://github.com/geelweb/django-twitter-bootstrap-form/archive/master.zip">Download</a>

            </div>
        </div>

            <div class="container">

<style>
.demo-form {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 30px;
    position: relative;
}
.demo-default:after,
.demo-inline:after,
.demo-horizontal:after,
.demo-search:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.demo-default:after {
    content: "Default styles";
}
.demo-search:after {
    content: "Search form";
}
.demo-inline:after {
    content: "Inline form";
}
.demo-horizontal:after {
    content: "Horizontal form";
}
</style>
<h2>Install</h2>
<div class="row">
    <div class="span12">
        <strong>settings.py</strong>
        <p>Add the application
        geelweb.django.twitter_bootstrap_form to your INSTALLED_APPS

<pre>
INSTALLED_APPS = (
    ...
    'geelweb.django.twitter_bootstrap_form'
)
</pre>

        <strong>Html template</strong>
        <p>You obly have to load the filters and use them</p>

<pre>
{% load twitter_bootstrap %}
</pre>

    </div>
</div>

<h2>Default styles</h2>
<div class="row">
    <div class="span12">
        <form role="form" class="demo-form demo-default">







<div class="form-group">

        <label for="id_email">Email</label>

        <input class="form-control" id="id_email" maxlength="100" name="email" placeholder="Enter email" type="text" />






</div>




<div class="form-group">

        <label for="id_password">Password</label>

        <input class="form-control" id="id_password" maxlength="100" name="password" placeholder="Password" type="password" />






</div>




<div class="form-group">

        <label for="id_file_input">File input</label>

        <input id="id_file_input" name="file_input" type="file" />






        <p class="help-block">Example block-level help text here.</p>

</div>




<div class="checkbox">

        <label for="id_check_me_out">
            <input id="id_check_me_out" name="check_me_out" type="checkbox" /> Check me out
        </label>





</div>



            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
<pre>
# forms.py
class DefaultForm(forms.Form):
    label_name = forms.CharField(max_length=100,
                                 help_text="Example block-level help text here.",
                                 widget=forms.TextInput(attrs={'placeholder': 'Type something...'}))
    check_me_out = forms.BooleanField(required=False)

# template.html
{% load twitter_bootstrap %}

&lt;form role="form"&gt;
    {{ form|twitter_bootstrap }}
    &lt;button type="submit" class="btn btn-default"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</pre>
    </div>
</div>


<h2>Search Form</h2>
<div class="row">
    <div class="span12">
        <form role="search" class="demo-form demo-search navbar-form">







<div class="form-group">
    <label class="sr-only" for="id_query">Query</label>
    <input class="input-medium search-query form-control" id="id_query" maxlength="100" name="query" type="text" />
</div>



            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="span12">
<pre>
# forms.py
class SearchForm(forms.Form):
    query = forms.CharField(max_length=100,
                            widget=forms.TextInput(attrs={'class': 'input-medium search-query'}))

# template.html
{% load twitter_bootstrap %}

&lt;form role="search" class="navbar-form"&gt;
    {{ form|twitter_bootstrap:"search" }}
    &lt;button type="submit" class="btn btn-default"&gt;Search&lt;/button&gt;
&lt;/form&gt;
</pre>
    </div>
</div>

<h2>Inline Form</h2>
<div class="row">
    <div class="span12">
        <form role="form" class="demo-form demo-inline form-inline">







<div class="form-group">

        <label class="sr-only" for="id_inline-email">Email</label>
        <input class="form-control" id="id_inline-email" maxlength="100" name="inline-email" placeholder="Enter email" type="text" />

</div>




<div class="form-group">

        <label class="sr-only" for="id_inline-password">Password</label>
        <input class="form-control" id="id_inline-password" maxlength="100" name="inline-password" placeholder="Password" type="password" />

</div>




<div class="checkbox">

        <label for="id_inline-remember_me">
            <input id="id_inline-remember_me" name="inline-remember_me" type="checkbox" /> Remember me
        </label>

</div>



            <button type="submit" class="btn btn-default">Sign in</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
<pre>
# forms.py
class LoginForm(forms.Form):
    email = forms.EmailField(max_length=100,
                             widget=forms.TextInput(attrs={'placeholder': 'Email'}))
    password = forms.CharField(max_length=100,
                               widget=forms.PasswordInput(attrs={'placeholder': 'Password'}))
    remember_me = forms.BooleanField(required=False)

# template.html
{% load twitter_bootstrap %}

&lt;form role="form" class="form-inline"&gt;
    {{ form|twitter_bootstrap:"inline" }}
    &lt;button type="submit" class="btn btn-default"&gt;Sign in&lt;/button&gt;
&lt;/form&gt;
</pre>
    </div>
</div>

<h2>Horizontal Form</h2>
<div class="row">
    <div class="span12">
        <form role="form" class="demo-form demo-horizontal form-horizontal">







<div class="form-group">

    <label class="col-sm-2 control-label" for="id_horizontal-email">Email</label>
    <div class="col-sm-10">
        <input class="form-control" id="id_horizontal-email" maxlength="100" name="horizontal-email" placeholder="Enter email" type="text" />




    </div>

</div>





<div class="form-group">

    <label class="col-sm-2 control-label" for="id_horizontal-password">Password</label>
    <div class="col-sm-10">
        <input class="form-control" id="id_horizontal-password" maxlength="100" name="horizontal-password" placeholder="Password" type="password" />




    </div>

</div>





<div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label for="id_horizontal-remember_me">
                <input id="id_horizontal-remember_me" name="horizontal-remember_me" type="checkbox" /> Remember me
            </label>
        </div>
    </div>

</div>




            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
<pre>
# forms.py
class LoginForm(forms.Form):
    email = forms.EmailField(max_length=100,
                             widget=forms.TextInput(attrs={'placeholder': 'Email'}))
    password = forms.CharField(max_length=100,
                               widget=forms.PasswordInput(attrs={'placeholder': 'Password'}))
    remember_me = forms.BooleanField(required=False)

# template.html
{% load twitter_bootstrap %}

&lt;form role="form" class="form-horizontal"&gt;
    {{ form|twitter_bootstrap:"horizontal" }}
    &lt;div class="form-group"&gt;
        &lt;div class="col-sm-offset-2 col-sm-10"&gt;
            &lt;button type="submit" class="btn btn-default"&gt;Sign in&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;
</pre>
    </div>
</div>

<h2>Checkboxes and radios</h2>

<h3>Default (stacked)</h3>

<div class="row">
    <div class="span12">
        <form class="demo-form">







<div class="checkbox">

        <label for="id_opt1">
            <input id="id_opt1" name="opt1" type="checkbox" /> Option one is this and that—be sure to include why it&#39;s great
        </label>





</div>




<div class="radio">


        <label>
            <input name="radio" type="radio" value="option1" /> Option one is this and that—be sure to include why it&#39;s great
        </label>

        <label>
            <input name="radio" type="radio" value="option2" /> Option two can be something else and selecting it will deselect option one
        </label>






</div>



        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
<pre>
# forms.py
CHOICES = (
        ('option1', "Option one is this and that—be sure to include why it's great"),
        ('option2', "Option two can be something else and selecting it will deselect option one"),
        )

class MyForm(forms.Form):
    opt1 = forms.BooleanField(label="Option one is this and that—be sure to include why it's great")
    radio = forms.ChoiceField(widget=forms.RadioSelect, choices=CHOICES)

# template.html
{% load twitter_bootstrap %}

&lt;form&gt;
    {{ form|twitter_bootstrap }}
&lt;/form&gt;

</pre>
    </div>
</div>

<h3>Inline checkboxes</h3>

<div class="row">
    <div class="span12">
        <form class="demo-form">







<div class="checkbox">

        <label for="id_opt1">
            <input id="id_opt1" name="opt1" type="checkbox" /> 1
        </label>

</div>




<div class="checkbox">

        <label for="id_opt2">
            <input id="id_opt2" name="opt2" type="checkbox" /> 2
        </label>

</div>




<div class="checkbox">

        <label for="id_opt3">
            <input id="id_opt3" name="opt3" type="checkbox" /> 3
        </label>

</div>



        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
<pre>
# forms.py
class MyForm(forms.Form):
    opt1 = forms.BooleanField(label="1")
    opt2 = forms.BooleanField(label="2")
    opt3 = forms.BooleanField(label="3")

# template.html
{% load twitter_bootstrap %}

&lt;form&gt;
    {{ form|twitter_bootstrap:"inline" }}
&lt;/form&gt;

</pre>
    </div>
</div>

<h2>Selects</h2>
<div class="row">
    <div class="span12">
        <form class="demo-form">







<div class="form-group">

        <label for="id_select1"></label>

        <select class="form-control" id="id_select1" name="select1">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>






</div>




<div class="form-group">

        <label for="id_select2"></label>

        <select multiple="multiple" class="form-control" id="id_select2" name="select2">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>






</div>



        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
<pre>
# forms.py
SELECT_CHOICES = (
        ('1', '1'),
        ('2', '2'),
        ('3', '3'),
        ('4', '4'),
        ('5', '5'),
        )

class MyForm(forms.Form):
    select1 = forms.ChoiceField(choices=SELECT_CHOICES, label="")
    select2 = forms.ChoiceField(widget=forms.SelectMultiple, choices=SELECT_CHOICES, label="")

# template.html
{% load twitter_bootstrap %}

&lt;form&gt;
    {{ form|twitter_bootstrap }}
&lt;/form&gt;

</pre>
    </div>
</div>

            </div>
        </div>

        <footer>
            <div class="container">
                    <div class="pull-left">
                        <p class="muted credit">&copy; Guillaume Luchet - <a href="http://geelweb.org">geelweb.org</a></p>
                    </div>
                </div>
        </footer>


    <a href="https://github.com/geelweb/django-twitter-bootstrap-form"><img
        style="position: fixed; top: 0; right: 0; border: 0; z-index: 9999;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
        alt="Fork me on GitHub"></a>


        <style>
            html, body {
                height: 100%;
            }
            #wrap {
                min-height: 100%;
                height: auto;
                margin: 0 auto -60px;
                padding: 0 0 60px;
            }
            footer {
                height: 60px;
                background-color: #f5f5f5;
                padding: 15px 0;
            }
        </style>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
